@model Case.Core.Model.TripDetailData

<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col"><img src="@Model.FirmLogo" class="rounded mx-auto d-block" alt="@Model.FirmName"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">@Model.Route</div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row justify-content-center">

    </div>
</div>

